flows.json
[
    {
        "id": "e0c8c764cd92cafb",
        "type": "tab",
        "label": "Intercom Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "46c538664502263c",
        "type": "tab",
        "label": "Raspberry monitoring",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5664a048acfcbac1",
        "type": "tab",
        "label": "Sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bde1ee4da20c452f",
        "type": "tab",
        "label": "Alexa Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0d812e09d413a274",
        "type": "tab",
        "label": "Devices",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "38e902423e538381",
        "type": "mqtt-broker",
        "name": "bbautomation",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dde4ad20d7f5adb6",
        "type": "ui_tab",
        "name": "Build Brighton",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "75c33eb13b040290",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a1927dc69f45eb27",
        "type": "discord-token",
        "name": "BB Intercom"
    },
    {
        "id": "9cb4bc4d.96552",
        "type": "ui_group",
        "name": "System",
        "tab": "dde4ad20d7f5adb6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58f8c24c9a9fdac1",
        "type": "ui_group",
        "name": "Devices",
        "tab": "dde4ad20d7f5adb6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "44de918663ff4cd7",
        "type": "ui_group",
        "name": "Sensor",
        "tab": "dde4ad20d7f5adb6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a837536d1ffc2e9d",
        "type": "debug",
        "z": "e0c8c764cd92cafb",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 120,
        "wires": []
    },
    {
        "id": "c27ea1daa597e04a",
        "type": "mqtt in",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "/intercom/active",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 120,
        "wires": [
            [
                "a837536d1ffc2e9d",
                "3f3096deea1218a3"
            ]
        ]
    },
    {
        "id": "c6e4ed25a02d504f",
        "type": "discordMessageManager",
        "z": "e0c8c764cd92cafb",
        "name": "Send message",
        "channel": "1160625220114190376",
        "token": "a1927dc69f45eb27",
        "x": 1000,
        "y": 60,
        "wires": [
            [
                "a88d8d84059518ea",
                "bab874d39343ad7e"
            ]
        ]
    },
    {
        "id": "79db2529ebb72db0",
        "type": "inject",
        "z": "e0c8c764cd92cafb",
        "name": "Test Discord",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 140,
        "wires": [
            [
                "8d2db524903656dc"
            ]
        ]
    },
    {
        "id": "a88d8d84059518ea",
        "type": "debug",
        "z": "e0c8c764cd92cafb",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 40,
        "wires": []
    },
    {
        "id": "3f3096deea1218a3",
        "type": "switch",
        "z": "e0c8c764cd92cafb",
        "name": "If active",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 320,
        "y": 80,
        "wires": [
            [
                "172bd39df4e63d43",
                "a9c68db4b9bee5d3"
            ],
            []
        ]
    },
    {
        "id": "172bd39df4e63d43",
        "type": "change",
        "z": "e0c8c764cd92cafb",
        "name": "Timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 100,
        "wires": [
            [
                "bd5a5e008d058f54",
                "8d2db524903656dc"
            ]
        ]
    },
    {
        "id": "bd5a5e008d058f54",
        "type": "moment",
        "z": "e0c8c764cd92cafb",
        "name": "Ding-dong",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "[DING DONG @ ]HH:mm:ss",
        "locale": "en-GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 810,
        "y": 60,
        "wires": [
            [
                "c6e4ed25a02d504f"
            ]
        ]
    },
    {
        "id": "13fa2969ce9751c3",
        "type": "ui_button",
        "z": "e0c8c764cd92cafb",
        "name": "Door bell",
        "group": "58f8c24c9a9fdac1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Ding-Dong!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "a9c68db4b9bee5d3"
            ]
        ]
    },
    {
        "id": "ff161c0ce9f7aacf",
        "type": "inject",
        "z": "e0c8c764cd92cafb",
        "name": "Test blink",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 240,
        "wires": [
            [
                "13fa2969ce9751c3"
            ]
        ]
    },
    {
        "id": "efa8fbae18b2b382",
        "type": "inject",
        "z": "e0c8c764cd92cafb",
        "name": "Test intercom",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "3f3096deea1218a3"
            ]
        ]
    },
    {
        "id": "84addd14d397a3f5",
        "type": "inject",
        "z": "e0c8c764cd92cafb",
        "name": "BlinkCount",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 110,
        "y": 1040,
        "wires": [
            [
                "0383925a09b90b6b",
                "03588be6713a9bd7",
                "40a85188160be64a",
                "4ef23a354b37bb90",
                "fcdeefdd90eac01b"
            ]
        ]
    },
    {
        "id": "767bc7d4d90d9997",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/CleanRoom/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 860,
        "y": 180,
        "wires": []
    },
    {
        "id": "a9c68db4b9bee5d3",
        "type": "change",
        "z": "e0c8c764cd92cafb",
        "name": "Blink",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "BLINK",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 240,
        "wires": [
            [
                "767bc7d4d90d9997",
                "deb992eabe79050d",
                "a23391dbdd584507",
                "ac07f530f44de849",
                "6e794c3cf14f507c"
            ]
        ]
    },
    {
        "id": "752d3fb0db120a06",
        "type": "inject",
        "z": "e0c8c764cd92cafb",
        "name": "Blink Time",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "str",
        "x": 690,
        "y": 1020,
        "wires": [
            [
                "d0ed4ee3cb8f4fd5",
                "2c66733d1bd5e627",
                "7c37f5078501bb19",
                "92d77a952703ebe6",
                "3dad4040a8a0fceb"
            ]
        ]
    },
    {
        "id": "d0ed4ee3cb8f4fd5",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/CleanRoom/BlinkTime",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 980,
        "y": 900,
        "wires": []
    },
    {
        "id": "0383925a09b90b6b",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/CleanRoom/BlinkCount",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 450,
        "y": 920,
        "wires": []
    },
    {
        "id": "03588be6713a9bd7",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Woodwork/BlinkCount",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 440,
        "y": 980,
        "wires": []
    },
    {
        "id": "40a85188160be64a",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Metalwork/BlinkCount",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 440,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2c66733d1bd5e627",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Woodwork/BlinkTime",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 980,
        "y": 960,
        "wires": []
    },
    {
        "id": "7c37f5078501bb19",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Metalwork/BlinkTime",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 980,
        "y": 1020,
        "wires": []
    },
    {
        "id": "deb992eabe79050d",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Woodwork/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 850,
        "y": 240,
        "wires": []
    },
    {
        "id": "a23391dbdd584507",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Metalwork/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 850,
        "y": 300,
        "wires": []
    },
    {
        "id": "ac07f530f44de849",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Movable/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "4ef23a354b37bb90",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Movable/BlinkCount",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 430,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4a94668b048679ef",
        "type": "discordMessageManager",
        "z": "e0c8c764cd92cafb",
        "name": "Send message",
        "channel": "1002808225252507658",
        "token": "a1927dc69f45eb27",
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "2830abc59c0c5e9a",
                "bab874d39343ad7e"
            ]
        ]
    },
    {
        "id": "2830abc59c0c5e9a",
        "type": "debug",
        "z": "e0c8c764cd92cafb",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 160,
        "wires": []
    },
    {
        "id": "6e794c3cf14f507c",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/CR10SPro/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 850,
        "y": 420,
        "wires": []
    },
    {
        "id": "fcdeefdd90eac01b",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/CR10SPro/BlinkCount",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 440,
        "y": 1180,
        "wires": []
    },
    {
        "id": "92d77a952703ebe6",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/Movable/BlinkTime",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 970,
        "y": 1080,
        "wires": []
    },
    {
        "id": "3dad4040a8a0fceb",
        "type": "mqtt out",
        "z": "e0c8c764cd92cafb",
        "name": "",
        "topic": "cmnd/CR10SPro/BlinkTime",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 980,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8d2db524903656dc",
        "type": "moment",
        "z": "e0c8c764cd92cafb",
        "name": "Ding-dong",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "[The doorbell has been pressed @ ]HH:mm:ss",
        "locale": "en-GB",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 810,
        "y": 120,
        "wires": [
            [
                "4a94668b048679ef"
            ]
        ]
    },
    {
        "id": "882b87fdf1e37df7",
        "type": "inject",
        "z": "e0c8c764cd92cafb",
        "name": "Test Test Discord",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 8-23 * * *",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 570,
        "y": 40,
        "wires": [
            [
                "bd5a5e008d058f54"
            ]
        ]
    },
    {
        "id": "bab874d39343ad7e",
        "type": "file",
        "z": "e0c8c764cd92cafb",
        "name": "debug.log",
        "filename": "/home/pi/debug.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1240,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "b31ce0e4f4660e16",
        "type": "ui_gauge",
        "z": "46c538664502263c",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "80",
        "diff": false,
        "className": "",
        "x": 683,
        "y": 33,
        "wires": []
    },
    {
        "id": "a2df6b1dbff54470",
        "type": "exec",
        "z": "46c538664502263c",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "RPi Temp.",
        "x": 325.2221908569336,
        "y": 46.33333683013916,
        "wires": [
            [
                "d12bbc9f5fd0a6cd"
            ],
            [],
            []
        ]
    },
    {
        "id": "d4b90fa3b166b29e",
        "type": "inject",
        "z": "46c538664502263c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 107.49996185302734,
        "y": 46.805556297302246,
        "wires": [
            [
                "a2df6b1dbff54470",
                "8f097bd231a825c6",
                "eda7aa6fd5ab188d"
            ]
        ]
    },
    {
        "id": "d12bbc9f5fd0a6cd",
        "type": "function",
        "z": "46c538664502263c",
        "name": "",
        "func": "let str = msg.payload\nmsg.payload = str.substring(5,9);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 471.888858795166,
        "y": 33.00000190734863,
        "wires": [
            [
                "b31ce0e4f4660e16"
            ]
        ]
    },
    {
        "id": "8f097bd231a825c6",
        "type": "exec",
        "z": "46c538664502263c",
        "command": "top -d 0.5 -b -n2 | grep \"Cpu(s)\"|tail -n 1 | awk '{print $2 + $4}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "name": "CPU Load",
        "x": 325.2221908569336,
        "y": 126.33333683013916,
        "wires": [
            [
                "a7bffdf8b965f97c",
                "53cf284a37f0047c"
            ],
            [],
            []
        ]
    },
    {
        "id": "eda7aa6fd5ab188d",
        "type": "exec",
        "z": "46c538664502263c",
        "command": "free | grep Mem | awk '{print 100*($4+$6+$7)/$2}'",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Free Memory",
        "x": 325.2222099304199,
        "y": 190.55557250976562,
        "wires": [
            [
                "bde8b48141ce4011"
            ],
            [],
            []
        ]
    },
    {
        "id": "a7bffdf8b965f97c",
        "type": "ui_gauge",
        "z": "46c538664502263c",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 8,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "CPU",
        "label": "CPU",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "bde8b48141ce4011",
        "type": "ui_gauge",
        "z": "46c538664502263c",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Memory free",
        "label": "%",
        "format": "{{parseInt(value)}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 663.3333320617676,
        "y": 176.55556392669678,
        "wires": []
    },
    {
        "id": "cbebe19a60de0740",
        "type": "exec",
        "z": "46c538664502263c",
        "command": "df -h",
        "addpay": false,
        "append": "",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Disk Usage",
        "x": 322.88884353637695,
        "y": 258.2222442626953,
        "wires": [
            [
                "c9f44e42d8c1b882"
            ],
            [],
            []
        ]
    },
    {
        "id": "2d9f0d47948d78ea",
        "type": "ui_gauge",
        "z": "46c538664502263c",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 6,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Disk Space",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 661.1110496520996,
        "y": 244.88890743255615,
        "wires": []
    },
    {
        "id": "c9f44e42d8c1b882",
        "type": "function",
        "z": "46c538664502263c",
        "name": "",
        "func": "var re = /([0-9]{2})%/\nvar idx = msg.payload.search(re);\nvar str = msg.payload;\nif (idx >=0) {\n    str = msg.payload.substring(idx, idx + 2);\n}\nmsg.payload = str;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470.66661071777344,
        "y": 244.88890171051025,
        "wires": [
            [
                "2d9f0d47948d78ea"
            ]
        ]
    },
    {
        "id": "a9b11aae378da5ba",
        "type": "inject",
        "z": "46c538664502263c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 122.88884353637695,
        "y": 258.2222442626953,
        "wires": [
            [
                "cbebe19a60de0740",
                "fc615c40ead9f612",
                "8b713e145fc869ba"
            ]
        ]
    },
    {
        "id": "aeb03266b5fc830d",
        "type": "ui_text",
        "z": "46c538664502263c",
        "group": "9cb4bc4d.96552",
        "order": 2,
        "width": "6",
        "height": "2",
        "name": "",
        "label": "IP Address",
        "format": "{{value.substring(0, value.indexOf(\" \"))}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "91606c26818645b6",
        "type": "inject",
        "z": "46c538664502263c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "3959be6ac3537d9d"
            ]
        ]
    },
    {
        "id": "3959be6ac3537d9d",
        "type": "exec",
        "z": "46c538664502263c",
        "command": "hostname",
        "addpay": false,
        "append": "-I",
        "useSpawn": "",
        "timer": "",
        "winHide": false,
        "name": "Get Local IP",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "45df644cef3ee04e",
                "aeb03266b5fc830d"
            ],
            [],
            []
        ]
    },
    {
        "id": "45df644cef3ee04e",
        "type": "mqtt out",
        "z": "46c538664502263c",
        "name": "Publish IP",
        "topic": "bbautomation/system/ip",
        "qos": "0",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "53cf284a37f0047c",
        "type": "ui_chart",
        "z": "46c538664502263c",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 9,
        "width": "6",
        "height": "4",
        "label": "CPU Load",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "033f62c483ecb5d6",
        "type": "ui_button",
        "z": "46c538664502263c",
        "name": "Reboot",
        "group": "9cb4bc4d.96552",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reboot NOW!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "1a64d430942a1ac0"
            ]
        ]
    },
    {
        "id": "1a64d430942a1ac0",
        "type": "exec",
        "z": "46c538664502263c",
        "command": "sudo reboot",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Reboot",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "2e31d17cfe405fb3"
            ],
            [
                "2e31d17cfe405fb3"
            ],
            [
                "2e31d17cfe405fb3"
            ]
        ]
    },
    {
        "id": "2e31d17cfe405fb3",
        "type": "debug",
        "z": "46c538664502263c",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 580,
        "wires": []
    },
    {
        "id": "fc615c40ead9f612",
        "type": "exec",
        "z": "46c538664502263c",
        "command": "uptime -p",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Uptime",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "852a10958adfbf67"
            ],
            [],
            []
        ]
    },
    {
        "id": "6263d60f639a08f9",
        "type": "ui_text",
        "z": "46c538664502263c",
        "group": "9cb4bc4d.96552",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Uptime",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "852a10958adfbf67",
        "type": "function",
        "z": "46c538664502263c",
        "name": "function",
        "func": "msg.payload = msg.payload.substr(3);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 300,
        "wires": [
            [
                "6263d60f639a08f9"
            ]
        ]
    },
    {
        "id": "8b713e145fc869ba",
        "type": "exec",
        "z": "46c538664502263c",
        "command": "swapon --bytes --show=USED,SIZE",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Swap",
        "x": 330,
        "y": 380,
        "wires": [
            [
                "aed8a91f234ea579"
            ],
            [],
            []
        ]
    },
    {
        "id": "aed8a91f234ea579",
        "type": "function",
        "z": "46c538664502263c",
        "name": "function 3",
        "func": "const tokens = msg.payload.split(/(\\s+)/).filter((token) => token.trim().length > 0);\nconst used = parseInt(tokens[2], 10);\nconst total = parseInt(tokens[3], 10) || 1;\nconst percent = Math.round(used / total *1000.0)/10;\nmsg.payload = percent;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "247a9e2f041a106b",
                "7cf7b3c257825eae"
            ]
        ]
    },
    {
        "id": "247a9e2f041a106b",
        "type": "ui_gauge",
        "z": "46c538664502263c",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 7,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Swap",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "7cf7b3c257825eae",
        "type": "ui_chart",
        "z": "46c538664502263c",
        "name": "",
        "group": "9cb4bc4d.96552",
        "order": 9,
        "width": "6",
        "height": "4",
        "label": "Swap",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "8fb1e2472bc4a008",
        "type": "ui_chart",
        "z": "5664a048acfcbac1",
        "name": "",
        "group": "44de918663ff4cd7",
        "order": 4,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#ff0011",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "bc0ab866a7da0af9",
        "type": "mqtt in",
        "z": "5664a048acfcbac1",
        "name": "",
        "topic": "/intercom/info",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "400ed82b99dbe691"
            ]
        ]
    },
    {
        "id": "400ed82b99dbe691",
        "type": "debug",
        "z": "5664a048acfcbac1",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "80327b646a800a94",
        "type": "debug",
        "z": "5664a048acfcbac1",
        "name": "debug 12",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "fffc90ee2dda2962",
        "type": "mqtt in",
        "z": "5664a048acfcbac1",
        "name": "",
        "topic": "/intercom/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 500,
        "wires": [
            [
                "80327b646a800a94"
            ]
        ]
    },
    {
        "id": "ec4707473fea5bfa",
        "type": "ui_chart",
        "z": "5664a048acfcbac1",
        "name": "",
        "group": "44de918663ff4cd7",
        "order": 5,
        "width": "6",
        "height": "5",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8000",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#fb096a",
            "#06a22d",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ca03300cf04372ec",
        "type": "mqtt in",
        "z": "5664a048acfcbac1",
        "name": "",
        "topic": "/intercom/audio/event",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 120,
        "wires": [
            [
                "bc0beaec0206f86c",
                "8c81ca4559e23434"
            ]
        ]
    },
    {
        "id": "bc0beaec0206f86c",
        "type": "function",
        "z": "5664a048acfcbac1",
        "name": "Split event",
        "func": "const now = new Date();\nconst startOfDay = new Date();\n\nstartOfDay.setHours(0, 0, 0, 0);\n\nconst secondsSinceStartOfDay = (now.getTime() - startOfDay.getTime()) / 1000;\n// Add timestamp to the payload\nmsg.payload.timestamp = secondsSinceStartOfDay;\n\nconst msg1 = { \n    payload: msg.payload.loudness, \n    topic: 'Loudness'\n};\n\nconst msg2 = {\n    payload: msg.payload.peak,\n    topic: 'Frequency'\n};\n\nconst msg3 = {\n    payload: msg.payload.inrange,\n    topic: 'Match'\n}\n\n\nreturn [msg, msg1, msg2, msg3];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 120,
        "wires": [
            [
                "223da7cbfb02412d"
            ],
            [
                "8fb1e2472bc4a008"
            ],
            [
                "ec4707473fea5bfa"
            ],
            [
                "88c39c8c77a6acdc"
            ]
        ]
    },
    {
        "id": "3192b4d273066597",
        "type": "function",
        "z": "5664a048acfcbac1",
        "name": "Set filename",
        "func": "const pad = (number, length) => {\n  return String(number).padStart(length, '0');\n};\n\nconst date = new Date();\nconst year = date.getFullYear();\nconst month = pad(date.getMonth() + 1, 2); // Months in JavaScript are zero-indexed\nconst day = pad(date.getDate(), 2);\n\nconst datestamp = `${year}-${month}-${day}`;\n\nconst filename = `audio_log_${datestamp}.csv`;\nmsg.filename = `/home/pi/audio_files/${filename}`;\nmsg.content = msg.payload;\nmsg.payload = {pattern: filename};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 40,
        "wires": [
            [
                "5f2ada27bdd15bd9"
            ]
        ]
    },
    {
        "id": "5f2ada27bdd15bd9",
        "type": "fs-file-lister",
        "z": "5664a048acfcbac1",
        "name": "File exists?",
        "start": "/home/pi/audio_files",
        "pattern": "*.*",
        "folders": "*",
        "hidden": true,
        "lstype": "files",
        "path": true,
        "single": true,
        "depth": 0,
        "stat": true,
        "showWarnings": true,
        "x": 1190,
        "y": 40,
        "wires": [
            [
                "dedd561c880b3f83"
            ]
        ]
    },
    {
        "id": "dedd561c880b3f83",
        "type": "switch",
        "z": "5664a048acfcbac1",
        "name": "",
        "property": "$count(msg.payload)",
        "propertyType": "jsonata",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 830,
        "y": 220,
        "wires": [
            [
                "03a9599b47258eb5"
            ],
            [
                "4732e171b3ef06e5"
            ]
        ]
    },
    {
        "id": "03a9599b47258eb5",
        "type": "change",
        "z": "5664a048acfcbac1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 180,
        "wires": [
            [
                "0d74fd3230405c2f"
            ]
        ]
    },
    {
        "id": "4732e171b3ef06e5",
        "type": "change",
        "z": "5664a048acfcbac1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "15089e87e4d51e39"
            ]
        ]
    },
    {
        "id": "0d74fd3230405c2f",
        "type": "csv",
        "z": "5664a048acfcbac1",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,loudness,peak",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1150,
        "y": 180,
        "wires": [
            [
                "ad06a915873817f1"
            ]
        ]
    },
    {
        "id": "15089e87e4d51e39",
        "type": "csv",
        "z": "5664a048acfcbac1",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,loudness,peak",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1150,
        "y": 260,
        "wires": [
            [
                "ad06a915873817f1"
            ]
        ]
    },
    {
        "id": "ad06a915873817f1",
        "type": "file",
        "z": "5664a048acfcbac1",
        "name": "Write to file",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1310,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "223da7cbfb02412d",
        "type": "function",
        "z": "5664a048acfcbac1",
        "name": "Filter",
        "func": "const loudness = context.get(\"loudness\") || 0;\nconst peak = context.get('peak') || 0;\nif (msg.payload.loudness !== loudness || msg.payload.peak !== peak) {\n    context.set('loudness', msg.payload.loudness);\n    context.set('peak', msg.payload.peak);\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 40,
        "wires": [
            [
                "3192b4d273066597"
            ]
        ]
    },
    {
        "id": "8c81ca4559e23434",
        "type": "debug",
        "z": "5664a048acfcbac1",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 200,
        "wires": []
    },
    {
        "id": "7742e4761b426071",
        "type": "inject",
        "z": "5664a048acfcbac1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "4718a263a2cbfc0b"
            ]
        ]
    },
    {
        "id": "4718a263a2cbfc0b",
        "type": "function",
        "z": "5664a048acfcbac1",
        "name": "function 2",
        "func": "const now = new Date();\nconst seconds = now.getSeconds();\nif (seconds === 0) {\n    const hours = now.getHours().toString().padStart(2,'0');\n    const minutes = now.getMinutes().toString().padStart(2,'0');\n    const offset = now.getTimezoneOffset();\n    const isDST = offset === -60;\n    const timeZone = isDST ? \"BST\" : \"GMT\";\n    msg.payload = `${hours}:${minutes} ${timeZone}`;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 580,
        "wires": [
            [
                "744c1cdd70852337"
            ]
        ]
    },
    {
        "id": "744c1cdd70852337",
        "type": "mqtt out",
        "z": "5664a048acfcbac1",
        "name": "",
        "topic": "/intercom/time",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 660,
        "y": 580,
        "wires": []
    },
    {
        "id": "88c39c8c77a6acdc",
        "type": "ui_chart",
        "z": "5664a048acfcbac1",
        "name": "",
        "group": "44de918663ff4cd7",
        "order": 5,
        "width": "0",
        "height": "0",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#fb096a",
            "#06a22d",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "277474ef30029cac",
        "type": "mqtt in",
        "z": "5664a048acfcbac1",
        "name": "",
        "topic": "/intercom/audio/samplerate",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "42b1e3e14db13348"
            ]
        ]
    },
    {
        "id": "1411ddd68ca058e3",
        "type": "ui_text",
        "z": "5664a048acfcbac1",
        "group": "44de918663ff4cd7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Sample rate",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "42b1e3e14db13348",
        "type": "function",
        "z": "5664a048acfcbac1",
        "name": "function 1",
        "func": "const rate = Number(msg.payload);\nconst kHz = Math.round(rate / 100) / 10;\n\nreturn { payload: `${kHz}kHz`};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            [
                "1411ddd68ca058e3"
            ]
        ]
    },
    {
        "id": "a01d51a238e28be3",
        "type": "mqtt in",
        "z": "5664a048acfcbac1",
        "name": "",
        "topic": "/intercom/audio/baseline",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "651f1e98c04e544f"
            ]
        ]
    },
    {
        "id": "651f1e98c04e544f",
        "type": "ui_text",
        "z": "5664a048acfcbac1",
        "group": "44de918663ff4cd7",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Baseline",
        "format": "{{msg.payload || '---'}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "e7a881e17881d944",
        "type": "amazon-echo-hub",
        "z": "bde1ee4da20c452f",
        "port": "8080",
        "processinput": "2",
        "discovery": true,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "ce6916dcbcf41781"
            ]
        ]
    },
    {
        "id": "ce6916dcbcf41781",
        "type": "amazon-echo-device",
        "z": "bde1ee4da20c452f",
        "name": "New socket",
        "topic": "/newsocket/power",
        "x": 590,
        "y": 260,
        "wires": [
            [
                "ef6ce2e855f87cf8"
            ]
        ]
    },
    {
        "id": "ef6ce2e855f87cf8",
        "type": "debug",
        "z": "bde1ee4da20c452f",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 260,
        "wires": []
    },
    {
        "id": "479c1ae3e4ba294f",
        "type": "ui_button",
        "z": "0d812e09d413a274",
        "name": "",
        "group": "58f8c24c9a9fdac1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Clean Room",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TOGGLE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "dd54176ef82be226"
            ]
        ]
    },
    {
        "id": "dd54176ef82be226",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/CleanRoom/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 480,
        "y": 40,
        "wires": []
    },
    {
        "id": "4c9ee92f533a9215",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Toggle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 40,
        "wires": [
            [
                "479c1ae3e4ba294f"
            ]
        ]
    },
    {
        "id": "7e81d3d19938034f",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/CleanRoom/Status",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "f04e5b5a9456a951",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "7e81d3d19938034f"
            ]
        ]
    },
    {
        "id": "1b9749f66610d4c2",
        "type": "comment",
        "z": "0d812e09d413a274",
        "name": "Query device status",
        "info": "",
        "x": 110,
        "y": 80,
        "wires": []
    },
    {
        "id": "30818ba023246fe2",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/CleanRoom/STATUS5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "d1371af8bbfbfe26",
                "7156af54c0405f31"
            ]
        ]
    },
    {
        "id": "c027bcb7c1d7af8f",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "tele/CleanRoom/LWT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 180,
        "wires": [
            [
                "69bce279412d9260"
            ]
        ]
    },
    {
        "id": "5986ddf13b2a0fac",
        "type": "ui_button",
        "z": "0d812e09d413a274",
        "name": "",
        "group": "58f8c24c9a9fdac1",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Woodwork",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TOGGLE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 540,
        "wires": [
            [
                "335f35da0c165c6a"
            ]
        ]
    },
    {
        "id": "335f35da0c165c6a",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/Woodwork/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 470,
        "y": 540,
        "wires": []
    },
    {
        "id": "f149bb7fb32bd1a1",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Toggle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "5986ddf13b2a0fac"
            ]
        ]
    },
    {
        "id": "36164c518e969c3f",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/Woodwork/Status",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 330,
        "y": 620,
        "wires": []
    },
    {
        "id": "b851906b18ed791a",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 100,
        "y": 620,
        "wires": [
            [
                "36164c518e969c3f"
            ]
        ]
    },
    {
        "id": "f8b6dbae06488da2",
        "type": "comment",
        "z": "0d812e09d413a274",
        "name": "Query device status",
        "info": "",
        "x": 110,
        "y": 580,
        "wires": []
    },
    {
        "id": "258deff55918cf15",
        "type": "ui_button",
        "z": "0d812e09d413a274",
        "name": "",
        "group": "58f8c24c9a9fdac1",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Metalwork",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TOGGLE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 40,
        "wires": [
            [
                "9338a053086d295b"
            ]
        ]
    },
    {
        "id": "9338a053086d295b",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/Metalwork/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 1190,
        "y": 40,
        "wires": []
    },
    {
        "id": "c105ecd7bd4f47b2",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Toggle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 810,
        "y": 40,
        "wires": [
            [
                "258deff55918cf15"
            ]
        ]
    },
    {
        "id": "1f3a7baa3fb33aa1",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/Metalwork/Status",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "6d82ac629dd3729f",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 820,
        "y": 120,
        "wires": [
            [
                "1f3a7baa3fb33aa1"
            ]
        ]
    },
    {
        "id": "7fcb7e7a8d0f3fce",
        "type": "comment",
        "z": "0d812e09d413a274",
        "name": "Query device status",
        "info": "",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "ccb840d2123679f0",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 3,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Offline",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Online",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CleanRoom LED",
        "x": 610,
        "y": 200,
        "wires": []
    },
    {
        "id": "d1371af8bbfbfe26",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "IP",
        "rules": [
            {
                "t": "set",
                "p": "CleanRoomIP",
                "pt": "flow",
                "to": "payload.StatusNET.IPAddress",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "7d08b6ae0b95b6ce"
            ]
        ]
    },
    {
        "id": "69bce279412d9260",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "CleanRoomStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "7d08b6ae0b95b6ce"
            ]
        ]
    },
    {
        "id": "7d08b6ae0b95b6ce",
        "type": "function",
        "z": "0d812e09d413a274",
        "name": "Join",
        "func": "msg.topic = flow.get('CleanRoomIP') || 'Waiting';\nmsg.payload = flow.get('CleanRoomStatus') === 'Online' ? 'Online' : 'Offline';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 200,
        "wires": [
            [
                "ccb840d2123679f0"
            ]
        ]
    },
    {
        "id": "f24ffb348434d70d",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Woodwork/STATUS5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 740,
        "wires": [
            [
                "a60cb6d49664896a"
            ]
        ]
    },
    {
        "id": "056109564553afea",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "tele/Woodwork/LWT",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 680,
        "wires": [
            [
                "64253d7bb15ad801"
            ]
        ]
    },
    {
        "id": "08b921146a6fe5fb",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 6,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Offline",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Online",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Woodwork LED",
        "x": 640,
        "y": 700,
        "wires": []
    },
    {
        "id": "a60cb6d49664896a",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "IP",
        "rules": [
            {
                "t": "set",
                "p": "WoodworkIP",
                "pt": "flow",
                "to": "payload.StatusNET.IPAddress",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "82125c3f1e798808"
            ]
        ]
    },
    {
        "id": "64253d7bb15ad801",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "WoodworkStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 680,
        "wires": [
            [
                "82125c3f1e798808"
            ]
        ]
    },
    {
        "id": "82125c3f1e798808",
        "type": "function",
        "z": "0d812e09d413a274",
        "name": "Join",
        "func": "msg.topic = flow.get('WoodworkIP');\nmsg.payload = flow.get('WoodworkStatus') === 'Online' ? 'Online' : 'Offline';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 700,
        "wires": [
            [
                "08b921146a6fe5fb"
            ]
        ]
    },
    {
        "id": "883ebdd97c7b4070",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Metalwork/STATUS5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "e9b98282bacc751c"
            ]
        ]
    },
    {
        "id": "ecc1f483d96bc5e2",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "tele/Metalwork/LWT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "1835b281e22f1361"
            ]
        ]
    },
    {
        "id": "8b0d1acac0733601",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 9,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Offline",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Online",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Metalwork LED",
        "x": 1340,
        "y": 200,
        "wires": []
    },
    {
        "id": "e9b98282bacc751c",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "IP",
        "rules": [
            {
                "t": "set",
                "p": "MetalworkIP",
                "pt": "flow",
                "to": "payload.StatusNET.IPAddress",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 240,
        "wires": [
            [
                "0fe2a774fda6427c"
            ]
        ]
    },
    {
        "id": "1835b281e22f1361",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "MetalworkStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "0fe2a774fda6427c"
            ]
        ]
    },
    {
        "id": "0fe2a774fda6427c",
        "type": "function",
        "z": "0d812e09d413a274",
        "name": "Join",
        "func": "msg.topic = flow.get('MetalworkIP') || 'Waiting...';\nmsg.payload = flow.get('MetalworkStatus') === 'Online' ? 'Online' : 'Offline';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 200,
        "wires": [
            [
                "8b0d1acac0733601"
            ]
        ]
    },
    {
        "id": "711cd86d14a372e5",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "",
        "props": [
            {
                "p": "payload.StatusNET.IPAddress",
                "v": "Not found",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 780,
        "wires": [
            [
                "a60cb6d49664896a"
            ]
        ]
    },
    {
        "id": "1e0d73a5e138efe4",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "",
        "props": [
            {
                "p": "payload.StatusNET.IPAddress",
                "v": "Not found",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "d1371af8bbfbfe26"
            ]
        ]
    },
    {
        "id": "372d13110422b859",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "",
        "props": [
            {
                "p": "payload.StatusNET.IPAddress",
                "v": "Not found",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 300,
        "wires": [
            [
                "e9b98282bacc751c"
            ]
        ]
    },
    {
        "id": "945802a40659c8c2",
        "type": "ui_button",
        "z": "0d812e09d413a274",
        "name": "",
        "group": "58f8c24c9a9fdac1",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "WiFi Plug",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TOGGLE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 540,
        "wires": [
            [
                "b0aeb268b9663fc5"
            ]
        ]
    },
    {
        "id": "b0aeb268b9663fc5",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/Movable/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 1190,
        "y": 540,
        "wires": []
    },
    {
        "id": "9aca5328f6a960ee",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Toggle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 810,
        "y": 540,
        "wires": [
            [
                "945802a40659c8c2"
            ]
        ]
    },
    {
        "id": "497d0d4254d5144b",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/Movable/Status",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 1040,
        "y": 620,
        "wires": []
    },
    {
        "id": "3c4388a960057d69",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 820,
        "y": 620,
        "wires": [
            [
                "497d0d4254d5144b"
            ]
        ]
    },
    {
        "id": "0d6feddebf1929ae",
        "type": "comment",
        "z": "0d812e09d413a274",
        "name": "Query device status",
        "info": "",
        "x": 830,
        "y": 580,
        "wires": []
    },
    {
        "id": "aaa5b44026e85c38",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Movable/STATUS5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 740,
        "wires": [
            [
                "e46a51faabbef3ae"
            ]
        ]
    },
    {
        "id": "c4d23d4beb699090",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "tele/Movable/LWT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 680,
        "wires": [
            [
                "6b293e1a3bf59b2f"
            ]
        ]
    },
    {
        "id": "20117b99156c0f55",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 12,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Offline",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Online",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "WiFi Plug LED",
        "x": 1340,
        "y": 700,
        "wires": []
    },
    {
        "id": "e46a51faabbef3ae",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "IP",
        "rules": [
            {
                "t": "set",
                "p": "MovableIP",
                "pt": "flow",
                "to": "payload.StatusNET.IPAddress",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1050,
        "y": 740,
        "wires": [
            [
                "2eba751e02158a7e"
            ]
        ]
    },
    {
        "id": "6b293e1a3bf59b2f",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "MovableStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 680,
        "wires": [
            [
                "2eba751e02158a7e"
            ]
        ]
    },
    {
        "id": "2eba751e02158a7e",
        "type": "function",
        "z": "0d812e09d413a274",
        "name": "Join",
        "func": "msg.topic = flow.get('MovableIP') || 'Waiting...';\nmsg.payload = flow.get('MovableStatus') === 'Online' ? 'Online' : 'Offline';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 700,
        "wires": [
            [
                "20117b99156c0f55"
            ]
        ]
    },
    {
        "id": "0d632681ec72da54",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "",
        "props": [
            {
                "p": "payload.StatusNET.IPAddress",
                "v": "Not found",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 890,
        "y": 800,
        "wires": [
            [
                "e46a51faabbef3ae"
            ]
        ]
    },
    {
        "id": "052ab9287b86ef26",
        "type": "ui_button",
        "z": "0d812e09d413a274",
        "name": "",
        "group": "58f8c24c9a9fdac1",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "CR10S Pro",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "TOGGLE",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 1040,
        "wires": [
            [
                "7bbc2cca29364858"
            ]
        ]
    },
    {
        "id": "7bbc2cca29364858",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/CR10SPro/POWER",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 470,
        "y": 1040,
        "wires": []
    },
    {
        "id": "b842f829c94d0e4a",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Toggle",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 90,
        "y": 1040,
        "wires": [
            [
                "052ab9287b86ef26"
            ]
        ]
    },
    {
        "id": "0a1b7172be4ee2dc",
        "type": "mqtt out",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "cmnd/CR10SPro/Status",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "38e902423e538381",
        "x": 330,
        "y": 1120,
        "wires": []
    },
    {
        "id": "4dc36140e1299a77",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "Status",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 100,
        "y": 1120,
        "wires": [
            [
                "0a1b7172be4ee2dc"
            ]
        ]
    },
    {
        "id": "bd6c541ce84ff5b6",
        "type": "comment",
        "z": "0d812e09d413a274",
        "name": "Query device status",
        "info": "",
        "x": 110,
        "y": 1080,
        "wires": []
    },
    {
        "id": "ab7c0cf7f082c57f",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/CR10SPro/STATUS5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1240,
        "wires": [
            [
                "d4c9f79d17f6efcb"
            ]
        ]
    },
    {
        "id": "c8e928fbb7602c00",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "tele/CR10SPro/LWT",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 1180,
        "wires": [
            [
                "57d340e0b8fdfd90"
            ]
        ]
    },
    {
        "id": "1a0591cc4e575a59",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 15,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "{{msg.topic}}",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Offline",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Online",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CR10SPro LED",
        "x": 640,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d4c9f79d17f6efcb",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "IP",
        "rules": [
            {
                "t": "set",
                "p": "WoodworkIP",
                "pt": "flow",
                "to": "payload.StatusNET.IPAddress",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1240,
        "wires": [
            [
                "a53b45f1fee198dd"
            ]
        ]
    },
    {
        "id": "57d340e0b8fdfd90",
        "type": "change",
        "z": "0d812e09d413a274",
        "name": "Status",
        "rules": [
            {
                "t": "set",
                "p": "WoodworkStatus",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1180,
        "wires": [
            [
                "a53b45f1fee198dd"
            ]
        ]
    },
    {
        "id": "a53b45f1fee198dd",
        "type": "function",
        "z": "0d812e09d413a274",
        "name": "Join",
        "func": "msg.topic = flow.get('WoodworkIP');\nmsg.payload = flow.get('WoodworkStatus') === 'Online' ? 'Online' : 'Offline';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 1200,
        "wires": [
            [
                "1a0591cc4e575a59"
            ]
        ]
    },
    {
        "id": "291082afe00143b8",
        "type": "inject",
        "z": "0d812e09d413a274",
        "name": "",
        "props": [
            {
                "p": "payload.StatusNET.IPAddress",
                "v": "Not found",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 1280,
        "wires": [
            [
                "d4c9f79d17f6efcb"
            ]
        ]
    },
    {
        "id": "7156af54c0405f31",
        "type": "debug",
        "z": "0d812e09d413a274",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 300,
        "wires": []
    },
    {
        "id": "625e298bdf114840",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/CleanRoom/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 360,
        "wires": [
            [
                "31c5a007fc103862",
                "e270c4eae0871968"
            ]
        ]
    },
    {
        "id": "31c5a007fc103862",
        "type": "debug",
        "z": "0d812e09d413a274",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "e270c4eae0871968",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 4,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "Clean room light",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"POWER\":\"Blink ON\"}",
                "valueType": "json"
            },
            {
                "color": "#ffa500",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "{\"POWER\":\"ON\"}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Cleanroom OnOff LED",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "4e26b26ca107c98a",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/CleanRoom/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 420,
        "wires": [
            [
                "31c5a007fc103862",
                "e270c4eae0871968"
            ]
        ]
    },
    {
        "id": "77ce997e3df61791",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Metalwork/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 360,
        "wires": [
            [
                "8b416d5377db1af8",
                "2073c8c49c5bd886"
            ]
        ]
    },
    {
        "id": "8b416d5377db1af8",
        "type": "debug",
        "z": "0d812e09d413a274",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 360,
        "wires": []
    },
    {
        "id": "2073c8c49c5bd886",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 10,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "Metalwork light",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"POWER\":\"Blink ON\"}",
                "valueType": "json"
            },
            {
                "color": "#ffa500",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "{\"POWER\":\"ON\"}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Metalwork OnOff LED",
        "x": 1140,
        "y": 420,
        "wires": []
    },
    {
        "id": "583a531153aba802",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Metalwork/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 420,
        "wires": [
            [
                "8b416d5377db1af8",
                "2073c8c49c5bd886"
            ]
        ]
    },
    {
        "id": "863853af905fdd43",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Movable/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 920,
        "wires": [
            [
                "38227d2fa1999dbe",
                "567c6554f6025612"
            ]
        ]
    },
    {
        "id": "763b59b28ede4535",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Movable/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 860,
        "wires": [
            [
                "38227d2fa1999dbe",
                "567c6554f6025612"
            ]
        ]
    },
    {
        "id": "38227d2fa1999dbe",
        "type": "debug",
        "z": "0d812e09d413a274",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 860,
        "wires": []
    },
    {
        "id": "567c6554f6025612",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 13,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "WiFi Plug",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"POWER\":\"Blink ON\"}",
                "valueType": "json"
            },
            {
                "color": "#ffa500",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "{\"POWER\":\"ON\"}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "WiFi Plug OnOff LED",
        "x": 1140,
        "y": 920,
        "wires": []
    },
    {
        "id": "fa7709c17ba83032",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Woodwork/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 840,
        "wires": [
            [
                "142e98b7482bb5e5",
                "d8cf96821c9de6b7"
            ]
        ]
    },
    {
        "id": "142e98b7482bb5e5",
        "type": "debug",
        "z": "0d812e09d413a274",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 840,
        "wires": []
    },
    {
        "id": "d8cf96821c9de6b7",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 7,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "Woodwork light",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"POWER\":\"Blink ON\"}",
                "valueType": "json"
            },
            {
                "color": "#ffa500",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "{\"POWER\":\"ON\"}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Woodwork OnOff LED",
        "x": 420,
        "y": 900,
        "wires": []
    },
    {
        "id": "9933593bf291d77d",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/Woodwork/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 900,
        "wires": [
            [
                "142e98b7482bb5e5",
                "d8cf96821c9de6b7"
            ]
        ]
    },
    {
        "id": "cab1e4710b14d650",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/CR10SPro/POWER",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1400,
        "wires": [
            [
                "266cafc0994c6198",
                "9ab1f4632e8e1fbc"
            ]
        ]
    },
    {
        "id": "91e1eabf337eb583",
        "type": "mqtt in",
        "z": "0d812e09d413a274",
        "name": "",
        "topic": "stat/CR10SPro/RESULT",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "38e902423e538381",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 1340,
        "wires": [
            [
                "266cafc0994c6198",
                "9ab1f4632e8e1fbc"
            ]
        ]
    },
    {
        "id": "266cafc0994c6198",
        "type": "debug",
        "z": "0d812e09d413a274",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1340,
        "wires": []
    },
    {
        "id": "9ab1f4632e8e1fbc",
        "type": "ui_led",
        "z": "0d812e09d413a274",
        "order": 16,
        "group": "58f8c24c9a9fdac1",
        "width": 0,
        "height": 0,
        "label": "CR10S Pro",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "{\"POWER\":\"Blink ON\"}",
                "valueType": "json"
            },
            {
                "color": "#ffa500",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "{\"POWER\":\"ON\"}",
                "valueType": "json"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "CR10SPro OnOff LED",
        "x": 420,
        "y": 1400,
        "wires": []
    }
]